html {
  height: 100%; // Footer at bottom

  font-size: calc(100vw / 1920 * 10);

  @media (max-width: 1024px) {
    font-size: calc(100vw / 768 * 10);
  }

  @media (max-width: 767px) {
    font-size: calc(100vw / 500 * 10);
  }

  @media (max-width: 500px) {
    font-size: calc(100vw / 320 * 10);
  }
}

:root {
  --black: #313131;
  --black2: #000;
  --black3: #424242;
  --white: #fff;
  --brown: #c8b196;
  --brown2: #714615;
  --brown3: #cdb79c;
  --brown-gradient: linear-gradient(273.52deg, #896d4d -42.26%, #cdb79c 99.15%);
  --greige: #ccc7c1;
  --gray: #f9f7f4;
  --gray2: #f0ebe7;
  --gray3: #afafaf;
  --gray4: #c4c4c4;
  --gray5: #afafaf;
  --gray6: #dbdbdb;
  --gray7: #e4e4e2;
  --gray8: #f2ece4;
  --footer-bg: #2c2c2c;
}

body {
  display: flex; // Footer at bottom
  flex-direction: column; // Footer at bottom
  height: 100%; // Footer at bottom
  background: var(--gray);
  color: var(--black);
  font-weight: 400;
  font-family: $font-family;
  font-size: 1.7rem;
  line-height: 2.3rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.header {
  flex-shrink: 0; // Footer at bottom
}

.main {
  position: relative;
  flex: 1 0 auto; // Footer at bottom
}

.footer {
  z-index: 10;
  flex-shrink: 0; // Footer at bottom
  margin-top: auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: none;

  table & {
    max-width: none;
  }
}

.container {
  max-width: 125rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.section {
  padding-bottom: 10rem;

  @media (max-width: $lg) {
    padding-bottom: 3rem;
  }

  &-title {
    @extend %text-41;
    text-transform: uppercase;
    padding-bottom: 3rem;

    @media (max-width: $sm) {
      padding-bottom: 2rem;
    }
  }
}

.slider-btns {
  display: flex;
  align-items: center;

  > * {
    &:not(:last-child) {
      margin-right: 4rem;

      @media (max-width: $sm) {
        margin-right: 2rem;
      }
    }
  }

  &__arrow {
    width: 6.1rem;
    height: 5rem;
  }
}

.input {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

.counter {
  padding: 0.5rem 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--gray5);

  @extend %text-20;

  &__minus-btn,
  &__plus-btn {
    border: none;
    background-color: transparent;
  }

  &__value {
    padding: 0 1rem;
    margin: 0 1rem;
    border-left: 1px solid var(--gray5);
    border-right: 1px solid var(--gray5);
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    fill: var(--black);
    pointer-events: none;
  }
}

.basket {
  background: var(--brown-gradient);
  border: none;
  padding: 0.8rem 2.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 1.4rem 3.4rem rgba(0, 0, 0, 0.25);
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-0.2rem);
  }

  &__icon {
    fill: var(--white);
    width: 2rem;
    height: 2rem;
  }
}

.progress {
  padding: 5rem 0;

  &__ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;

    @media (max-width: $md) {
      grid-template-columns: 1fr;
    }
  }

  &__link {
    @extend %text-30;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--black);
  }
}
