html {
  height: 100%; // Footer at bottom

  font-size: calc(100vw / 1920 * 10);

  @media (max-width: 1024px) {
    font-size: calc(100vw / 768 * 10);
  }

  @media (max-width: 767px) {
    font-size: calc(100vw / 500 * 10);
  }

  @media (max-width: 500px) {
    font-size: calc(100vw / 320 * 10);
  }
}

:root {
  --black: #313131;
  --black2: #000;
  --white: #fff;
  --brown: #c8b196;
  --brown2: #714615;
  --brown-gradient: linear-gradient(273.52deg, #896d4d -42.26%, #cdb79c 99.15%);
  --greige: #ccc7c1;
  --gray: #f9f7f4;
  --gray2: #f0ebe7;
  --gray3: #afafaf;
  --gray4: #c4c4c4;
  --footer-bg: #2c2c2c;
}

body {
  display: flex; // Footer at bottom
  flex-direction: column; // Footer at bottom
  height: 100%; // Footer at bottom
  background: var(--gray);
  color: var(--black);
  font-weight: 400;
  font-family: $font-family;
  font-size: 1.7rem;
  line-height: 2.3rem;
}

a {
  text-decoration: none;
}

.header {
  flex-shrink: 0; // Footer at bottom
}

.main {
  position: relative;
  flex: 1 0 auto; // Footer at bottom
}

.footer {
  z-index: 10;
  flex-shrink: 0; // Footer at bottom
  margin-top: auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: none;

  table & {
    max-width: none;
  }
}

.container {
  // max-width: 117rem;
  max-width: 125rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}
