.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--black);
  padding: 3rem 0 1rem;
  margin-bottom: 4rem;

  @extend %text-13;
  border-bottom: 0.1rem solid var(--greige);

  @media (max-width: $lg) {
    padding: 1rem 0;
  }

  &__breadcrumb {
    position: relative;

    &:not(:last-child) {
      padding-right: 1rem;
      margin-right: 1rem;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        content: '/';
      }
    }
  }

  a {
    color: var(--black);
    transition: color 0.3s;

    &:hover {
      color: var(--gray3);
    }
  }
}
