@@if (type === "size") {
  <div class="sort-check">
    <div class="sort-check__title">@@title</div>
    <div class="sort-check__wrap">
      <label class="sort-check__label">
        <input class="sort-check__input input" type="checkbox">
        <span class="sort-check__check-style"></span>
        <span class="sort-check__check-text">М(46)</span>
      </label>
      <label class="sort-check__label">
        <input class="sort-check__input input" type="checkbox">
        <span class="sort-check__check-style"></span>
        <span class="sort-check__check-text">L(48)</span>
      </label>
      <label class="sort-check__label">
        <input class="sort-check__input input" type="checkbox">
        <span class="sort-check__check-style"></span>
        <span class="sort-check__check-text">XL(50)</span>
      </label>
      <label class="sort-check__label">
        <input class="sort-check__input input" type="checkbox">
        <span class="sort-check__check-style"></span>
        <span class="sort-check__check-text">XXL(52)</span>
      </label>
      <label class="sort-check__label">
        <input class="sort-check__input input" type="checkbox">
        <span class="sort-check__check-style"></span>
        <span class="sort-check__check-text">XXXL(54)</span>
      </label>
    </div>
  </div>
}

@@if (type === "growth") {
  <div class="sort-check">
    <div class="sort-check__title">@@title</div>
    <div class="sort-check__wrap">
      <label class="sort-check__label">
        <input class="sort-check__input input" type="checkbox">
        <span class="sort-check__check-style"></span>
        <span class="sort-check__check-text">170</span>
      </label>
      <label class="sort-check__label">
        <input class="sort-check__input input" type="checkbox">
        <span class="sort-check__check-style"></span>
        <span class="sort-check__check-text">176</span>
      </label>
      <label class="sort-check__label">
        <input class="sort-check__input input" type="checkbox">
        <span class="sort-check__check-style"></span>
        <span class="sort-check__check-text">182</span>
      </label>
      <label class="sort-check__label">
        <input class="sort-check__input input" type="checkbox">
        <span class="sort-check__check-style"></span>
        <span class="sort-check__check-text">188</span>
      </label>
    </div>
  </div>
}