.tabs {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 4rem;

  &--pb-18 {
    padding-bottom: 18rem;
  }

  @media (max-width: $md) {
    grid-template-columns: 1fr;
  }

  @media (max-width: $sm) {
    gap: 2rem;
  }

  &__inner {
    @media (max-width: $md) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    > * {
      &:not(:last-child) {
        padding-bottom: 5rem;

        @media (max-width: $md) {
          padding-bottom: 0;
        }
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > * {
      &:not(:last-child) {
        margin-bottom: 4rem;

        @media (max-width: $md) {
          margin-bottom: 2rem;
        }

        @media (max-width: $sm) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__btn {
    position: relative;
    padding: 1rem 2rem 1rem 3rem;
    background-color: transparent;
    border: none;
    text-transform: uppercase;

    @extend %text-18;
    color: var(--gray3);
    transition: all 0.3s;

    &:hover {
      color: var(--black);
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 0.3rem;
      background-color: var(--black);
      content: '';
      transition: height 0.3s;
    }
  }

  &__content-item {
    @extend %text-15;
    padding-bottom: 5rem;
    border-bottom: 0.1rem solid var(--gray3);
    display: none;

    @media (max-width: $md) {
      padding-bottom: 3rem;
    }

    > * {
      &:not(:last-child) {
        padding-bottom: 3rem;

        @media (max-width: $sm) {
          padding-bottom: 2rem;
        }
      }
    }
  }

  &__icon {
    width: 18.3rem;
    height: 18.3rem;
    opacity: 0.2;

    @media (max-width: $sm) {
      display: none;
    }
  }
}

.tabs__btn.is-active {
  color: var(--black);

  &::before {
    height: 100%;
  }
}

.tabs__content-item.show {
  display: block;
}

.fade {
  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}
