<div class="tabs @@class">
  <div class="tabs__inner">
    <div class="tabs__nav tabsNav">
      <button class="tabs__btn is-active" data-tab="1">@@textBtn1</button>
      <button class="tabs__btn" data-tab="2">@@textBtn2</button>
      <button class="tabs__btn" data-tab="3">@@textBtn3</button>

      @@if (isBtn4) {
        <button class="tabs__btn" data-tab="4">@@textBtn4</button>
      }
  
    </div>

    @@if (icon === true) {
      <svg class="tabs__icon" viewBox="0 0 100 100">
        <use xlink:href="./assets/images/sprite.svg#info"></use>
      </svg>
    }
  </div>
  <div class="tabs__content">
    <div class="tabs__content-item fade show" data-tab-content="1">
      <p>
        По Москве доставка в течение 2-х дней. Оплата курьеру. Стоимость доставки в пределах МКАД 300 ₽. При отказе от заказа услуги курьера оплачиваются в размере 300 ₽. Стоимость доставки за МКАД по Московской области 500–1 000 ₽ в зависимости от удалённости от Москвы.
      </p>
      <p>
        В регионы России отправка производится Почтой России или транспортной компанией СДЭК. Оплата может производиться одним из 2-х способов, выбранных по Вашему желанию:
      </p>
      <p>
        1 способ: Оплата наложенным платежом при получении посылки стоимостью не более 5 000₽. Почта взимает небольшую комиссию за перевод денежных средств. Стоимость пересылки оплачивает покупатель.
      </p>
      <p>
        2 способ: При заказе более 5 000 ₽ с учётом частичной стоимости пересылки от 250р.до 700 ₽. Вам необходимо перечислить предоплату в размере 100% через Сбербанк или любой другой банк, на расчётный счёт компании ЛАНА ЛЮКС по следующим реквизитам:
      </p>
      <p>
        ООО «ЛАНА ЛЮКС» <br>
        ИНН 7718651160 КПП 772401001 <br>
        ОГРН 5077746962519
      </p>
      <p>
        Юр.адрес: 115582, Москва ул. Домодедовская, дом 24, корп. 3 эт. 1 пом.2 ком. 1 <br>
        р/с 40702810202360002431 в АО «АЛЬФА-БАНК» г. Москва <br>
        БИК 044525593 <br>
        к/с 30101810200000000593
      </p>
      <p>
        Если сумма пересылки превышает 700рублей, то доплату берет на себя компания ЛАНА ЛЮКС.
      </p>
    </div>
    <div class="tabs__content-item fade" data-tab-content="2">
      <p>
        По Москве доставка в течение 2-х дней. Оплата курьеру. Стоимость доставки в пределах МКАД 300 ₽. При отказе от заказа услуги курьера оплачиваются в размере 300 ₽. Стоимость доставки за МКАД по Московской области 500–1 000 ₽ в зависимости от удалённости от Москвы.
      </p>
      <p>
        В регионы России отправка производится Почтой России или транспортной компанией СДЭК. Оплата может производиться одним из 2-х способов, выбранных по Вашему желанию:
      </p>
      <p>
        1 способ: Оплата наложенным платежом при получении посылки стоимостью не более 5 000₽. Почта взимает небольшую комиссию за перевод денежных средств. Стоимость пересылки оплачивает покупатель.
      </p>
      <p>
        2 способ: При заказе более 5 000 ₽ с учётом частичной стоимости пересылки от 250р.до 700 ₽. Вам необходимо перечислить предоплату в размере 100% через Сбербанк или любой другой банк, на расчётный счёт компании ЛАНА ЛЮКС по следующим реквизитам:
      </p>
      <p>
        ООО «ЛАНА ЛЮКС» <br>
        ИНН 7718651160 КПП 772401001 <br>
        ОГРН 5077746962519
      </p>
      <p>
        Юр.адрес: 115582, Москва ул. Домодедовская, дом 24, корп. 3 эт. 1 пом.2 ком. 1 <br>
        р/с 40702810202360002431 в АО «АЛЬФА-БАНК» г. Москва <br>
        БИК 044525593 <br>
        к/с 30101810200000000593
      </p>
      <p>
        Если сумма пересылки превышает 700рублей, то доплату берет на себя компания ЛАНА ЛЮКС.
      </p>
    </div>
    <div class="tabs__content-item fade" data-tab-content="3">
      <p>
        По Москве доставка в течение 2-х дней. Оплата курьеру. Стоимость доставки в пределах МКАД 300 ₽. При отказе от заказа услуги курьера оплачиваются в размере 300 ₽. Стоимость доставки за МКАД по Московской области 500–1 000 ₽ в зависимости от удалённости от Москвы.
      </p>
      <p>
        В регионы России отправка производится Почтой России или транспортной компанией СДЭК. Оплата может производиться одним из 2-х способов, выбранных по Вашему желанию:
      </p>
      <p>
        1 способ: Оплата наложенным платежом при получении посылки стоимостью не более 5 000₽. Почта взимает небольшую комиссию за перевод денежных средств. Стоимость пересылки оплачивает покупатель.
      </p>
      <p>
        2 способ: При заказе более 5 000 ₽ с учётом частичной стоимости пересылки от 250р.до 700 ₽. Вам необходимо перечислить предоплату в размере 100% через Сбербанк или любой другой банк, на расчётный счёт компании ЛАНА ЛЮКС по следующим реквизитам:
      </p>
      <p>
        ООО «ЛАНА ЛЮКС» <br>
        ИНН 7718651160 КПП 772401001 <br>
        ОГРН 5077746962519
      </p>
      <p>
        Юр.адрес: 115582, Москва ул. Домодедовская, дом 24, корп. 3 эт. 1 пом.2 ком. 1 <br>
        р/с 40702810202360002431 в АО «АЛЬФА-БАНК» г. Москва <br>
        БИК 044525593 <br>
        к/с 30101810200000000593
      </p>
      <p>
        Если сумма пересылки превышает 700рублей, то доплату берет на себя компания ЛАНА ЛЮКС.
      </p>
    </div>

    @@if (isContentTab4) {
      <div class="tabs__content-item fade" data-tab-content="4">
        <p>
          По Москве доставка в течение 2-х дней. Оплата курьеру. Стоимость доставки в пределах МКАД 300 ₽. При отказе от заказа услуги курьера оплачиваются в размере 300 ₽. Стоимость доставки за МКАД по Московской области 500–1 000 ₽ в зависимости от удалённости от Москвы.
        </p>
        <p>
          В регионы России отправка производится Почтой России или транспортной компанией СДЭК. Оплата может производиться одним из 2-х способов, выбранных по Вашему желанию:
        </p>
        <p>
          1 способ: Оплата наложенным платежом при получении посылки стоимостью не более 5 000₽. Почта взимает небольшую комиссию за перевод денежных средств. Стоимость пересылки оплачивает покупатель.
        </p>
        <p>
          2 способ: При заказе более 5 000 ₽ с учётом частичной стоимости пересылки от 250р.до 700 ₽. Вам необходимо перечислить предоплату в размере 100% через Сбербанк или любой другой банк, на расчётный счёт компании ЛАНА ЛЮКС по следующим реквизитам:
        </p>
        <p>
          ООО «ЛАНА ЛЮКС» <br>
          ИНН 7718651160 КПП 772401001 <br>
          ОГРН 5077746962519
        </p>
        <p>
          Юр.адрес: 115582, Москва ул. Домодедовская, дом 24, корп. 3 эт. 1 пом.2 ком. 1 <br>
          р/с 40702810202360002431 в АО «АЛЬФА-БАНК» г. Москва <br>
          БИК 044525593 <br>
          к/с 30101810200000000593
        </p>
        <p>
          Если сумма пересылки превышает 700рублей, то доплату берет на себя компания ЛАНА ЛЮКС.
        </p>
      </div>
    }
  </div>
</div>
