.main-page {
  // promo
  &__promo {
    position: relative;
    background-color: #fff;
    padding-top: 4rem;
    padding-bottom: 9rem;

    @media (max-width: $lg) {
      padding-bottom: 12rem;
    }

    @media (max-width: $sm) {
      padding-top: 3rem;
    }
  }

  &__promo-wrap {
    display: flex;
    align-items: center;

    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  &__promo-start {
    padding-right: 12rem;

    @media (max-width: $lg) {
      padding-right: 2rem;
    }

    @media (max-width: $md) {
      padding-right: 0;
      width: 100%;
    }

    > * {
      &:not(:last-child) {
        padding-bottom: 2rem;

        @media (max-width: $lg) {
          padding-bottom: 5rem;
        }

        @media (max-width: $md) {
          padding-bottom: 3.2rem;
        }
      }
    }
  }

  &__promo-content {
    @extend %text-25;
    color: var(--brown2);
  }

  &__promo-btn {
    display: block;
    padding: 2rem 10rem;
    width: 100%;

    @extend %text-15;
    text-transform: uppercase;
    border: none;
    background: var(--brown-gradient);
    border-radius: 0.5rem;
    color: var(--white);
    text-align: center;
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-0.5rem);
    }

    @media (max-width: $lg) {
      padding: 2rem 4rem;
    }
  }

  &__promo-img {
    width: 66rem;
    height: 49rem;

    @media (max-width: $lg) {
      width: 41rem;
      height: auto;
    }
  }
}
