.header {
  background: var(--brown-gradient);

  &__container {
    display: grid;
    grid-template-columns: max-content 1fr repeat(2, max-content) repeat(2, 4.8rem) max-content;
    gap: 2rem;
    grid-template-areas: "logo burger text cb-btns search basket languages";
    align-items: center;
    padding: 0.8rem 1.6rem;

    @media (max-width: $md) {
      grid-template-columns: max-content 1fr repeat(3, max-content);
      grid-template-areas:
        "logo text text text languages"
        "burger . cb-btns search basket";
    }

    @media (max-width: $sm) {
      grid-template-columns: repeat(5, 1fr);
      gap: 1.8rem;
      grid-template-areas:
        "logo logo text text text"
        "burger cb-btns search basket languages";
    }
  }

  &__logo {
    width: 14rem;
    height: 7.4rem;
    grid-area: logo;

    @media (max-width: $lg) {
      width: 9.6rem;
      height: 5.1rem;
    }
  }

  &__burger-wrap {
    position: relative;
    padding: 0.5rem;
    background-color: var(--gray2);
    border-radius: 0.3rem;
    grid-area: burger;
  }

  &__burger-inner {
    padding: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--white);
  }

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.1rem;
  }

  &__burger-item {
    background: var(--black);
    display: block;
    height: 0.1rem;
    transition: all 0.3s;

    &--top {
      width: 1.7rem;
    }

    &--center {
      width: 1rem;
    }

    &--bottom {
      width: 0.6rem;
    }
  }

  &__burger-text {
    @extend %text-15;
    text-transform: uppercase;
    padding-left: 1rem;

    @media (max-width: $sm) {
      display: none;
    }
  }

  &__special-text {
    @extend %text-30;
    font-family: $font-family-2;
    color: var(--brown2);
    font-weight: 700;
    grid-area: text;

    @media (max-width: $lg) {
      max-width: 20rem;
      color: var(--white);
    }

    @media (max-width: $sm) {
      color: var(--brown2);
    }
  }

  &__callback-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-area: cb-btns;
  }

  &__phone {
    @extend %text-15;
    color: var(--white);

    @media (max-width: $lg) {
      display: none;
    }
  }

  &__call-btn {
    border: none;
    background: transparent;
    color: var(--brown2);
    text-decoration: underline;

    @extend %text-11;

    &:hover {
      text-decoration: none;
    }

    @media (max-width: $lg) {
      display: none;
    }
  }

  &__btn {
    border: none;
    background: var(--gray2);
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }

  &__phone-btn {
    display: none;

    @media (max-width: $lg) {
      display: flex;
    }
  }

  &__btn-icon {
    fill: transparent;
    stroke: var(--black);
    width: 1.6rem;
    height: 1.6rem;
  }

  &__basket {
    position: relative;
    grid-area: basket;
  }

  &__basket-value {
    position: absolute;
    right: -0.5rem;
    top: -0.3rem;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 100%;
    background-color: var(--gray);
    border: 0.1rem solid var(--brown);

    @extend %text-10;
  }
}

.header__burger-inner.is-active {
  .header__burger-item {
    &:first-child {
      transform: translateY(0.5rem) rotate(-45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:last-child {
      width: 1.7rem;
      transform: translateY(-0.5rem) rotate(45deg);
    }
  }
}