
.burger-menu {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10;
  width: 31rem;
  color: var(--black);
  background-color: var(--gray);
  box-shadow: 0 2.4rem 4.4rem rgba(0, 0, 0, 0.05);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;

  // clip-path: polygon(0% 10%, 50% 10%, 55% 9%, 60% 10%, 100% 10%, 100% 100%, 0% 100%);
  // background: var(--brown-gradient);

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0.4rem;
  //   left: 0.4rem;
  //   right: 0.4rem;
  //   bottom: 0.4rem;
  //   background-color: var(--white);
  //   clip-path: polygon(0% 10%, 50% 10%, 55% 9%, 60% 10%, 100% 10%, 100% 100%, 0% 100%);
  // }

  @media (max-width: $sm) {
    right: unset;
    left: 0;
    width: 28rem;
  }

  &__wrap {
    padding: 2.5rem;
  }

  &__list {
    @extend %text-13;
    text-transform: uppercase;

    > * {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__item {
    position: relative;
    padding: 2rem 1.5rem;
    box-shadow: 0 0.5rem 1.9rem rgba(0, 0, 0, 0.03);
    border-radius: 0.3rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--greige);
    transform: rotate(90deg);
    margin-left: 2rem;
    transition: transform 0.3s;
  }

  &__text {
    margin-right: 3.5rem;
  }

  &__sublist {
    position: absolute;
    top: 0;
    left: 100%;
    width: 22rem;
    background-color: var(--gray);
    padding: 1rem 2rem;

    @extend %text-10;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;

    > * {
      &:not(:last-child) {
        padding-bottom: 2rem;
      }
    }

    @media (max-width: $md) {
      top: 100%;
      left: 0;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      z-index: 1;
      background-color: var(--black);
    }
  }

  &__link {
    color: var(--black);
    padding: 2rem 1.5rem;
    box-shadow: 0 0.5rem 1.9rem rgba(0, 0, 0, 0.03);
    border-radius: 0.3rem;
    display: block;
  }

  &__sublink {
    color: var(--greige);
    border-bottom: 0.1rem solid transparent;
    transition: all 0.3s;

    &:hover {
      color: var(--black);
      border-bottom: 0.1rem solid var(--black);
    }
  }

  li { // after remove
    position: relative;
  }
}

.burger-menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.burger-menu__item.is-active {
  .burger-menu__icon {
    transform: rotate(0deg);
    fill: var(--black);

    @media (max-width: $md) {
      transform: rotate(90deg);
    }
  }

  .burger-menu__sublist {
    opacity: 1;
    pointer-events: auto;
  }
}
